<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysCategoryMapper">

    <insert id="batchAddCategory">
        insert into category (id,name,image_url,parent_id,status,order_num) values
        <foreach collection="batchList" separator="," item="category">
            (#{category.id},#{category.name},#{category.imageUrl},#{category.parentId},
            #{category.status},#{category.orderNum})
        </foreach>
    </insert>


    <select id="findListByParentId" resultType="com.atguigu.spzx.model.entity.product.Category">
        select * from category where parent_id = #{parentId} and status = 1 and is_deleted = 0
        order by order_num
    </select>
    <select id="getCountByParentId" resultType="java.lang.Integer">
        select count(1) from category where parent_id = #{id} and is_deleted = 0
    </select>
    <select id="findAll" resultType="com.atguigu.spzx.model.entity.product.Category">
        select * from category where is_deleted = 0
    </select>
    <select id="getIdListByTheeId" resultType="java.util.Map">
        select (select parent_id from category where id = a.parent_id) as 'one',a.parent_id as 'two',a.id as 'three'
        from category a
        where id = #{threeId}
    </select>

</mapper>